.potential-item {
    opacity: 60%
}

.margin-auto {
    margin: auto;
}

.td-todo-60{
    width: 60% !important
}


.td-todo-20{
    width: 20% !important
}

.td-todo-20{
    width: 20% !important
}
